USE [master]
GO
/****** Object:  Database [MEMORIES]    Script Date: 28/02/2024 21:38:29 ******/
CREATE DATABASE [MEMORIES]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MEMORIES', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\MEMORIES.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MEMORIES_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\MEMORIES_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MEMORIES].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MEMORIES]
GO
/****** Object:  Table [dbo].[ARCHIVO_ADJUNTO]    Script Date: 28/02/2024 21:38:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ARCHIVO_ADJUNTO](
	[ID_ARCHIVO_ADJUNTO] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE_ARCHIVO] [varchar](100) NULL,
	[RUTA_ARCHIVO] [varchar](200) NULL,
	[NOMBRE_FISICO] [varchar](100) NULL,
	[EXTENSION] [varchar](4) NULL,
	[ESTADO] [char](1) NULL,
	[USUARIO_REG] [varchar](10) NULL,
	[FECHA_REG] [datetime] NULL,
	[USUARIO_MOD] [varchar](10) NULL,
	[FECHA_MOD] [datetime] NULL,
	[OBSERVACION] [varchar](500) NULL,
	[FILE_SERVER] [varchar](500) NULL,
 CONSTRAINT [PK_ARCHIVO_ADJUNTO] PRIMARY KEY CLUSTERED 
(
	[ID_ARCHIVO_ADJUNTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ENVIO_ADJUNTO]    Script Date: 28/02/2024 21:38:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ENVIO_ADJUNTO](
	[ID_ENVIO_ADJUNTO] [int] IDENTITY(1,1) NOT NULL,
	[ID_MEMORIA_PERSONA] [int] NOT NULL,
	[ID_ARCHIVO_ADJUNTO] [int] NOT NULL,
	[CORREO] [varchar](500) NULL,
	[ASUNTO] [varchar](500) NULL,
	[DESCRIPCION] [varchar](300) NULL,
	[ESTADO] [char](1) NULL,
	[USUARIO_REG] [varchar](10) NULL,
	[FECHA_REG] [datetime] NULL,
	[USUARIO_MOD] [varchar](10) NULL,
	[FECHA_MOD] [datetime] NULL,
	[OBSERVACION] [varchar](500) NULL,
 CONSTRAINT [PK_ENVIO_ADJUNTO] PRIMARY KEY CLUSTERED 
(
	[ID_ENVIO_ADJUNTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MEMORIA_PERSONA]    Script Date: 28/02/2024 21:38:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MEMORIA_PERSONA](
	[ID_MEMORIA_PERSONA] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRES] [varchar](40) NULL,
	[APELLIDOS] [varchar](40) NULL,
	[FECHA_NACIMIENTO] [varchar](20) NULL,
	[FECHA_FALLECIMIENTO] [varchar](20) NULL,
	[DESCRIPCION] [varchar](500) NULL,
	[ID_USUARIO] [int] NULL,
	[CODIGO_QR] [varchar](50) NULL,
	[ESTADO] [char](1) NULL,
	[USUARIO_REG] [varchar](10) NULL,
	[FECHA_REG] [datetime] NULL,
	[USUARIO_MOD] [varchar](10) NULL,
	[FECHA_MOD] [datetime] NULL,
	[OBSERVACION] [varchar](500) NULL,
	[ID_ARCHIVO_ADJUNTO] [int] NULL,
 CONSTRAINT [PK_MEMORIA_PERSONA] PRIMARY KEY CLUSTERED 
(
	[ID_MEMORIA_PERSONA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MEMORIA_PERSONA_DET]    Script Date: 28/02/2024 21:38:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MEMORIA_PERSONA_DET](
	[ID_MEMORIA_PERSONA_DET] [int] IDENTITY(1,1) NOT NULL,
	[ID_MEMORIA_PERSONA] [int] NOT NULL,
	[ID_ARCHIVO_ADJUNTO] [int] NOT NULL,
	[DESCRIPCION] [varchar](500) NULL,
	[ESTADO] [char](1) NULL,
	[USUARIO_REG] [varchar](10) NULL,
	[FECHA_REG] [datetime] NULL,
	[USUARIO_MOD] [varchar](10) NULL,
	[FECHA_MOD] [datetime] NULL,
	[OBSERVACION] [varchar](500) NULL,
	[ES_PRINCIPAL] [char](1) NULL,
 CONSTRAINT [PK_MEMORIA_PERSONA_DET] PRIMARY KEY CLUSTERED 
(
	[ID_MEMORIA_PERSONA_DET] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROL]    Script Date: 28/02/2024 21:38:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROL](
	[ID_ROL] [int] IDENTITY(1,1) NOT NULL,
	[DESCRIPCION] [varchar](40) NULL,
	[ESTADO] [char](1) NULL,
	[USUARIO_REG] [varchar](10) NULL,
	[FECHA_REG] [datetime] NULL,
	[USUARIO_MOD] [varchar](10) NULL,
	[FECHA_MOD] [datetime] NULL,
	[OBSERVACION] [varchar](500) NULL,
 CONSTRAINT [PK_ROL] PRIMARY KEY CLUSTERED 
(
	[ID_ROL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 28/02/2024 21:38:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO](
	[ID_USUARIO] [int] IDENTITY(1,1) NOT NULL,
	[ID_ROL] [int] NULL,
	[NOMBRES] [varchar](100) NULL,
	[APELLIDOS] [varchar](100) NULL,
	[CORREO] [varchar](100) NULL,
	[USUARIO] [varchar](50) NULL,
	[CLAVE] [varbinary](max) NULL,
	[ESTADO] [char](1) NULL,
	[USUARIO_REG] [varchar](10) NULL,
	[FECHA_REG] [datetime] NULL,
	[USUARIO_MOD] [varchar](10) NULL,
	[FECHA_MOD] [datetime] NULL,
	[OBSERVACION] [varchar](500) NULL,
	[NRO_DOCUMENTO] [varchar](15) NULL,
 CONSTRAINT [PK_USUARIO] PRIMARY KEY CLUSTERED 
(
	[ID_USUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ARCHIVO_ADJUNTO] ON 

INSERT [dbo].[ARCHIVO_ADJUNTO] ([ID_ARCHIVO_ADJUNTO], [NOMBRE_ARCHIVO], [RUTA_ARCHIVO], [NOMBRE_FISICO], [EXTENSION], [ESTADO], [USUARIO_REG], [FECHA_REG], [USUARIO_MOD], [FECHA_MOD], [OBSERVACION], [FILE_SERVER]) VALUES (1, N'imagen01.jpg', N'D:\Memorias\Imagenes\', N'imagen01.jpg', N'.jpg', N'A', NULL, CAST(N'2024-01-22T22:42:13.560' AS DateTime), NULL, NULL, NULL, NULL)
INSERT [dbo].[ARCHIVO_ADJUNTO] ([ID_ARCHIVO_ADJUNTO], [NOMBRE_ARCHIVO], [RUTA_ARCHIVO], [NOMBRE_FISICO], [EXTENSION], [ESTADO], [USUARIO_REG], [FECHA_REG], [USUARIO_MOD], [FECHA_MOD], [OBSERVACION], [FILE_SERVER]) VALUES (2, N'imagen02.jpg', N'D:\Memorias\Imagenes\', N'imagen02.jpg', N'.jpg', N'A', NULL, CAST(N'2024-01-22T22:42:13.563' AS DateTime), NULL, NULL, NULL, NULL)
INSERT [dbo].[ARCHIVO_ADJUNTO] ([ID_ARCHIVO_ADJUNTO], [NOMBRE_ARCHIVO], [RUTA_ARCHIVO], [NOMBRE_FISICO], [EXTENSION], [ESTADO], [USUARIO_REG], [FECHA_REG], [USUARIO_MOD], [FECHA_MOD], [OBSERVACION], [FILE_SERVER]) VALUES (3, N'imagen03.jpg', N'D:\Memorias\Imagenes\', N'imagen03.jpg', N'.jpg', N'A', NULL, CAST(N'2024-01-22T22:42:13.577' AS DateTime), NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[ARCHIVO_ADJUNTO] OFF
GO
SET IDENTITY_INSERT [dbo].[MEMORIA_PERSONA] ON 

INSERT [dbo].[MEMORIA_PERSONA] ([ID_MEMORIA_PERSONA], [NOMBRES], [APELLIDOS], [FECHA_NACIMIENTO], [FECHA_FALLECIMIENTO], [DESCRIPCION], [ID_USUARIO], [CODIGO_QR], [ESTADO], [USUARIO_REG], [FECHA_REG], [USUARIO_MOD], [FECHA_MOD], [OBSERVACION], [ID_ARCHIVO_ADJUNTO]) VALUES (3, N'Jorge', N'Espinoza Duarte', N'01/02/1945', N'01/02/2022', N'Descripcion de Prueba', 1, N'COD01', N'A', NULL, CAST(N'2024-01-22T22:32:46.520' AS DateTime), NULL, NULL, NULL, NULL)
INSERT [dbo].[MEMORIA_PERSONA] ([ID_MEMORIA_PERSONA], [NOMBRES], [APELLIDOS], [FECHA_NACIMIENTO], [FECHA_FALLECIMIENTO], [DESCRIPCION], [ID_USUARIO], [CODIGO_QR], [ESTADO], [USUARIO_REG], [FECHA_REG], [USUARIO_MOD], [FECHA_MOD], [OBSERVACION], [ID_ARCHIVO_ADJUNTO]) VALUES (4, N'Juan', N'Perez Calisto', N'01/02/1960', N'01/02/2018', N'Descripcion de Prueba 2', 1, N'COD02', N'A', NULL, CAST(N'2024-01-22T22:32:46.530' AS DateTime), NULL, NULL, NULL, NULL)
INSERT [dbo].[MEMORIA_PERSONA] ([ID_MEMORIA_PERSONA], [NOMBRES], [APELLIDOS], [FECHA_NACIMIENTO], [FECHA_FALLECIMIENTO], [DESCRIPCION], [ID_USUARIO], [CODIGO_QR], [ESTADO], [USUARIO_REG], [FECHA_REG], [USUARIO_MOD], [FECHA_MOD], [OBSERVACION], [ID_ARCHIVO_ADJUNTO]) VALUES (7, N'Jose', N'Apellido', N'01/01/0001', N'99/12/9999', N'descipcion', 1, NULL, N'A', N'user', CAST(N'2024-02-22T21:45:42.760' AS DateTime), NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[MEMORIA_PERSONA] OFF
GO
SET IDENTITY_INSERT [dbo].[MEMORIA_PERSONA_DET] ON 

INSERT [dbo].[MEMORIA_PERSONA_DET] ([ID_MEMORIA_PERSONA_DET], [ID_MEMORIA_PERSONA], [ID_ARCHIVO_ADJUNTO], [DESCRIPCION], [ESTADO], [USUARIO_REG], [FECHA_REG], [USUARIO_MOD], [FECHA_MOD], [OBSERVACION], [ES_PRINCIPAL]) VALUES (3, 3, 3, N'Recuerdos 2', N'A', NULL, CAST(N'2024-01-22T22:44:06.203' AS DateTime), NULL, NULL, NULL, NULL)
INSERT [dbo].[MEMORIA_PERSONA_DET] ([ID_MEMORIA_PERSONA_DET], [ID_MEMORIA_PERSONA], [ID_ARCHIVO_ADJUNTO], [DESCRIPCION], [ESTADO], [USUARIO_REG], [FECHA_REG], [USUARIO_MOD], [FECHA_MOD], [OBSERVACION], [ES_PRINCIPAL]) VALUES (4, 3, 1, N'Recuerdos 1', N'A', NULL, CAST(N'2024-01-22T22:44:49.403' AS DateTime), NULL, NULL, NULL, NULL)
INSERT [dbo].[MEMORIA_PERSONA_DET] ([ID_MEMORIA_PERSONA_DET], [ID_MEMORIA_PERSONA], [ID_ARCHIVO_ADJUNTO], [DESCRIPCION], [ESTADO], [USUARIO_REG], [FECHA_REG], [USUARIO_MOD], [FECHA_MOD], [OBSERVACION], [ES_PRINCIPAL]) VALUES (5, 4, 2, N'Recuerdos 2', N'A', NULL, CAST(N'2024-01-22T22:44:49.407' AS DateTime), NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[MEMORIA_PERSONA_DET] OFF
GO
SET IDENTITY_INSERT [dbo].[ROL] ON 

INSERT [dbo].[ROL] ([ID_ROL], [DESCRIPCION], [ESTADO], [USUARIO_REG], [FECHA_REG], [USUARIO_MOD], [FECHA_MOD], [OBSERVACION]) VALUES (1, N'ADMINISTRADOR', N'A', NULL, CAST(N'2024-01-22T22:21:41.713' AS DateTime), NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[ROL] OFF
GO
SET IDENTITY_INSERT [dbo].[USUARIO] ON 

INSERT [dbo].[USUARIO] ([ID_USUARIO], [ID_ROL], [NOMBRES], [APELLIDOS], [CORREO], [USUARIO], [CLAVE], [ESTADO], [USUARIO_REG], [FECHA_REG], [USUARIO_MOD], [FECHA_MOD], [OBSERVACION], [NRO_DOCUMENTO]) VALUES (1, 1, N'William', N'Tello', N'williamtello1108@gmail.com', N'williamtello1108', 0x02000000A0237F40E7DC931D6214FCFB38F1262433AB60EB37D15FC4545CA8245166CB85, N'A', NULL, CAST(N'2024-02-06T21:02:27.747' AS DateTime), NULL, NULL, NULL, N'46868467')
INSERT [dbo].[USUARIO] ([ID_USUARIO], [ID_ROL], [NOMBRES], [APELLIDOS], [CORREO], [USUARIO], [CLAVE], [ESTADO], [USUARIO_REG], [FECHA_REG], [USUARIO_MOD], [FECHA_MOD], [OBSERVACION], [NRO_DOCUMENTO]) VALUES (2, 1, N'Brunelo', N'Velasquez', N'bvelasquez@gmail.com', N'bvelasquez', 0x020000004471C92A711311B94B3C5164DD4CCFFE4BEB8B9CEAEF52F0468D50716FDFC352, N'A', NULL, CAST(N'2024-02-06T21:02:27.773' AS DateTime), NULL, NULL, NULL, N'75984256')
SET IDENTITY_INSERT [dbo].[USUARIO] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UNQ_USUARIO]    Script Date: 28/02/2024 21:38:29 ******/
ALTER TABLE [dbo].[USUARIO] ADD  CONSTRAINT [UNQ_USUARIO] UNIQUE NONCLUSTERED 
(
	[USUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ENVIO_ADJUNTO]  WITH CHECK ADD  CONSTRAINT [FK_EA_MEMORIA_PERSONA] FOREIGN KEY([ID_MEMORIA_PERSONA])
REFERENCES [dbo].[MEMORIA_PERSONA] ([ID_MEMORIA_PERSONA])
GO
ALTER TABLE [dbo].[ENVIO_ADJUNTO] CHECK CONSTRAINT [FK_EA_MEMORIA_PERSONA]
GO
ALTER TABLE [dbo].[ENVIO_ADJUNTO]  WITH CHECK ADD  CONSTRAINT [FK_ENVIO_ARCHIVO_ADJUNTO] FOREIGN KEY([ID_ARCHIVO_ADJUNTO])
REFERENCES [dbo].[ARCHIVO_ADJUNTO] ([ID_ARCHIVO_ADJUNTO])
GO
ALTER TABLE [dbo].[ENVIO_ADJUNTO] CHECK CONSTRAINT [FK_ENVIO_ARCHIVO_ADJUNTO]
GO
ALTER TABLE [dbo].[MEMORIA_PERSONA]  WITH CHECK ADD  CONSTRAINT [FK_MEM_PER_USU] FOREIGN KEY([ID_USUARIO])
REFERENCES [dbo].[USUARIO] ([ID_USUARIO])
GO
ALTER TABLE [dbo].[MEMORIA_PERSONA] CHECK CONSTRAINT [FK_MEM_PER_USU]
GO
ALTER TABLE [dbo].[MEMORIA_PERSONA_DET]  WITH CHECK ADD  CONSTRAINT [FK_MEMORIA_PERSONA] FOREIGN KEY([ID_MEMORIA_PERSONA])
REFERENCES [dbo].[MEMORIA_PERSONA] ([ID_MEMORIA_PERSONA])
GO
ALTER TABLE [dbo].[MEMORIA_PERSONA_DET] CHECK CONSTRAINT [FK_MEMORIA_PERSONA]
GO
ALTER TABLE [dbo].[MEMORIA_PERSONA_DET]  WITH CHECK ADD  CONSTRAINT [FK_MPD_ARCHIVO_ADJUNTO] FOREIGN KEY([ID_ARCHIVO_ADJUNTO])
REFERENCES [dbo].[ARCHIVO_ADJUNTO] ([ID_ARCHIVO_ADJUNTO])
GO
ALTER TABLE [dbo].[MEMORIA_PERSONA_DET] CHECK CONSTRAINT [FK_MPD_ARCHIVO_ADJUNTO]
GO
ALTER TABLE [dbo].[USUARIO]  WITH CHECK ADD  CONSTRAINT [FK_USUARIO_ROL] FOREIGN KEY([ID_ROL])
REFERENCES [dbo].[ROL] ([ID_ROL])
GO
ALTER TABLE [dbo].[USUARIO] CHECK CONSTRAINT [FK_USUARIO_ROL]
GO
/****** Object:  StoredProcedure [dbo].[uspGetMemoryPerson]    Script Date: 28/02/2024 21:38:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[uspGetMemoryPerson]
@MemoryPersonId INT
AS
BEGIN
   SET NOCOUNT ON;
   SELECT 
   MP.ID_MEMORIA_PERSONA AS IdMemoryPerson,
   MP.NOMBRES AS Name,
   MP.APELLIDOS AS LastName,
   MP.FECHA_NACIMIENTO AS BirthDate,
   MP.FECHA_FALLECIMIENTO AS DeathDate,
   MP.DESCRIPCION AS Description,
   U.USUARIO AS UserName,
   MP.CODIGO_QR AS CodeQR
   FROM DBO.MEMORIA_PERSONA MP
   INNER JOIN DBO.USUARIO U ON U.ID_USUARIO = MP.ID_USUARIO
   WHERE MP.ID_MEMORIA_PERSONA = @MemoryPersonId;
END
GO
/****** Object:  StoredProcedure [dbo].[uspGetMemoryPersonByCodeQR]    Script Date: 28/02/2024 21:38:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[uspGetMemoryPersonByCodeQR]
@CodeQR INT
AS
BEGIN
   SET NOCOUNT ON;
   SELECT 
   MP.ID_MEMORIA_PERSONA AS IdMemoryPerson,
   MP.NOMBRES AS Name,
   MP.APELLIDOS AS LastName,
   MP.FECHA_NACIMIENTO AS BirthDate,
   MP.FECHA_FALLECIMIENTO AS DeathDate,
   MP.DESCRIPCION AS Description,
   U.USUARIO AS UserName,
   MP.CODIGO_QR AS CodeQR
   FROM DBO.MEMORIA_PERSONA MP
   INNER JOIN DBO.USUARIO U ON U.ID_USUARIO = MP.ID_USUARIO
   WHERE MP.CODIGO_QR = @CodeQR;
END
GO
/****** Object:  StoredProcedure [dbo].[uspGetMemoryPersonDetail]    Script Date: 28/02/2024 21:38:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[uspGetMemoryPersonDetail]
@MemoryPersonId INT
AS
BEGIN
   SET NOCOUNT ON;
   SELECT 
   MPD.ID_MEMORIA_PERSONA_DET AS IdMemoryPersonDet,
   MP.ID_MEMORIA_PERSONA AS IdMemoryPerson,
   AU.ID_ARCHIVO_ADJUNTO AS IdAttachment,
   AU.NOMBRE_ARCHIVO AS FileName,
   AU.RUTA_ARCHIVO AS FilePath,
   AU.NOMBRE_FISICO AS PhysicalName,
   AU.EXTENSION AS Extension,
   MPD.DESCRIPCION AS Description,
   MPD.ES_PRINCIPAL AS IsMain
   FROM DBO.MEMORIA_PERSONA_DET MPD
   INNER JOIN DBO.MEMORIA_PERSONA MP ON MP.ID_MEMORIA_PERSONA = MPD.ID_MEMORIA_PERSONA
   INNER JOIN DBO.ARCHIVO_ADJUNTO AU ON AU.ID_ARCHIVO_ADJUNTO = MPD.ID_ARCHIVO_ADJUNTO
   WHERE MP.ID_MEMORIA_PERSONA = @MemoryPersonId;
END
GO
/****** Object:  StoredProcedure [dbo].[uspGetMemoryPersonDetailByCodeQR]    Script Date: 28/02/2024 21:38:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[uspGetMemoryPersonDetailByCodeQR]
@CodeQR INT
AS
BEGIN
   SET NOCOUNT ON;
   SELECT 
   MPD.ID_MEMORIA_PERSONA_DET AS IdMemoryPersonDet,
   MP.ID_MEMORIA_PERSONA AS IdMemoryPerson,
   AU.ID_ARCHIVO_ADJUNTO AS IdAttachment,
   AU.NOMBRE_ARCHIVO AS FileName,
   AU.RUTA_ARCHIVO AS FilePath,
   AU.NOMBRE_FISICO AS PhysicalName,
   AU.EXTENSION AS Extension,
   MPD.DESCRIPCION AS Description,
   MPD.ES_PRINCIPAL AS IsMain,
   AU.FILE_SERVER AS FileServer
   FROM DBO.MEMORIA_PERSONA_DET MPD
   INNER JOIN DBO.MEMORIA_PERSONA MP ON MP.ID_MEMORIA_PERSONA = MPD.ID_MEMORIA_PERSONA
   INNER JOIN DBO.ARCHIVO_ADJUNTO AU ON AU.ID_ARCHIVO_ADJUNTO = MPD.ID_ARCHIVO_ADJUNTO
   WHERE MP.CODIGO_QR = @CodeQR;
END
GO
/****** Object:  StoredProcedure [dbo].[uspGetUser]    Script Date: 28/02/2024 21:38:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE     PROCEDURE [dbo].[uspGetUser]
@Code VARCHAR(10),
@Password VARCHAR(MAX)
AS
BEGIN
   SET NOCOUNT ON;
   SELECT 
   U.ID_USUARIO AS UserId
  ,U.ID_ROL AS RolId
  ,U.USUARIO AS UserName
  ,U.CLAVE AS Code
  ,U.NOMBRES AS Name
  ,U.APELLIDOS AS LastName
  ,U.NRO_DOCUMENTO AS DocumentNumber
  ,U.CORREO AS Email
  ,U.ESTADO AS Status
   FROM dbo.USUARIO AS U
   WHERE U.USUARIO = @Code 
   AND CONVERT(VARCHAR(MAX), DECRYPTBYPASSPHRASE('password', U.CLAVE)) = @Password AND U.ESTADO = 'A'
   AND U.ESTADO = 'A'
END

EXEC [dbo].[uspGetUser] 'williamtello1108', '12345678'
GO
/****** Object:  StoredProcedure [dbo].[uspRegisterAttachment]    Script Date: 28/02/2024 21:38:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   procedure [dbo].[uspRegisterAttachment]
@fileName varchar(100),
@filePath varchar(100),
@physicalName varchar(50),
@extension varchar(50),
@descriptionAttach VARCHAR(200),
@memoryPersonId int,
@isMain varchar(1),
@fileServer varchar(200),
@option varchar(1),
@userRegister varchar(50),
@codeAttach int OUTPUT
AS
BEGIN
SELECT * FROM USUARIO
	SET NOCOUNT ON;

	DECLARE @attachmentId int;

	INSERT INTO [dbo].ARCHIVO_ADJUNTO ([NOMBRE_ARCHIVO],[RUTA_ARCHIVO],[NOMBRE_FISICO],[EXTENSION],[ESTADO],[USUARIO_REG],[FECHA_REG],[FILE_SERVER])
	VALUES (@fileName, @filePath, @physicalName, @extension, 'A', @userRegister, GETDATE(), @fileServer)

	SELECT @attachmentId = A.ID_ARCHIVO_ADJUNTO FROM dbo.ARCHIVO_ADJUNTO A WHERE A.ID_ARCHIVO_ADJUNTO = SCOPE_IDENTITY();

	IF @option = 'I'  --IMAGENES THEN

		INSERT INTO [dbo].MEMORIA_PERSONA_DET([ID_MEMORIA_PERSONA],[ID_ARCHIVO_ADJUNTO],[DESCRIPCION],[ESTADO],[USUARIO_REG],[FECHA_REG],[ES_PRINCIPAL])
		VALUES (@memoryPersonId, @attachmentId, @descriptionAttach, 'A', @userRegister, GETDATE(),@isMain)
	ELSE -- CUANDO ES EL PDF
		UPDATE [dbo].MEMORIA_PERSONA SET CODIGO_QR = @descriptionAttach, ID_ARCHIVO_ADJUNTO = @attachmentId   WHERE ID_MEMORIA_PERSONA =  @memoryPersonId;

	SELECT @codeAttach = @attachmentId;

END
GO
/****** Object:  StoredProcedure [dbo].[uspRegisterMemoryPerson]    Script Date: 28/02/2024 21:38:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   procedure [dbo].[uspRegisterMemoryPerson]
@name varchar(100),
@lastName varchar(100),
@birthDate varchar(50),
@deathDate varchar(50),
@description VARCHAR(200),
@userId varchar(50),
--@codeQR varchar(50),
@userRegister varchar(50),
@code int OUTPUT
AS
BEGIN
SELECT * FROM USUARIO
	SET NOCOUNT ON;

	INSERT INTO [dbo].MEMORIA_PERSONA ([NOMBRES],[APELLIDOS],[FECHA_NACIMIENTO],[FECHA_FALLECIMIENTO],[DESCRIPCION],[ID_USUARIO],[ESTADO],[USUARIO_REG],[FECHA_REG])
	VALUES (@name, @lastName, @birthDate, @deathDate, @description, @userId, 'A', @userRegister, GETDATE())

	SELECT @code = M.ID_MEMORIA_PERSONA FROM dbo.MEMORIA_PERSONA M WHERE M.ID_MEMORIA_PERSONA = SCOPE_IDENTITY();

END
GO
/****** Object:  StoredProcedure [dbo].[uspRegisterUser]    Script Date: 28/02/2024 21:38:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create   procedure [dbo].[uspRegisterUser]
@nameUser varchar(100),
@lastNameUser varchar(100),
@documentNumber varchar(15),
@email varchar(50),
@userName varchar(50),
@password VARCHAR(MAX),
@userRegister varchar(50),
@codeUser int OUTPUT
AS
BEGIN
SELECT * FROM USUARIO
	SET NOCOUNT ON;

	DECLARE @count INT;
    SET @count = (SELECT COUNT(1) FROM dbo.USUARIO WHERE CORREO = @email and ESTADO != 'X')

	IF @count > 0 
		SELECT @codeUser = U.ID_USUARIO FROM dbo.USUARIO U WHERE NRO_DOCUMENTO = @documentNumber and ESTADO != 'X'
	ELSE

		INSERT INTO [dbo].USUARIO ([ID_ROL],[NOMBRES],[APELLIDOS],[CORREO],[USUARIO],[CLAVE],[ESTADO],[USUARIO_REG],[FECHA_REG],[NRO_DOCUMENTO])
		VALUES (1, @nameUser, @lastNameUser, @email, @userName, ENCRYPTBYPASSPHRASE('password', @password), 'A', @userRegister, GETDATE(),@documentNumber)

		SELECT @codeUser = U.ID_USUARIO FROM dbo.USUARIO U WHERE U.ID_USUARIO = SCOPE_IDENTITY();
END
GO
USE [master]
GO
